APP_NAME=blog
DEPLOY_CONNECT=user@host.address
DOCKER_NETWORK=
VIRTUAL_HOST=
LETSENCRYPT_HOST=
LETSENCRYPT_EMAIL=
EXPORTED_PORT=
TRACING_AGENT_ENPOINT=localhost:6831
TRACING_PROBABILITY_SAMPLER=0.1
TRACING_APP_NAME=Blog-APIs
TRACING_VIRTUAL_HOST=jaeger.nhannguyen.codes
TRACING_VIRTUAL_PORT=16686
TRACING_LETSENCRYPT_HOST=jaeger.nhannguyen.codes
TRACING_LETSENCRYPT_EMAIL=
PORT=
GIN_MODE=
DB_USER=
DB_PASSWORD=
DB_ROOT_PASSWORD=
DB_NAME=
DSN=user:pass@tcp(127.0.0.1:3306)/dbname?charset=utf8mb4&parseTime=True&loc=Local
AUTH_SECRET=
S3_BUCKET_NAME=
S3_REGION=
S3_API_KEY=
S3_SECRET_KEY=
S3_DOMAIN=